/* src/components/App.module.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
  }
  
  .content {
    padding: 20px;
    max-width: 800px;
    width: 100%;
  }
  